<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Styles/StoreMain.css" rel="stylesheet" />
    <script src="~/Scripts/Srore/Category/CategoryController.js"></script>
    <script src="~/Scripts/Srore/Category/CategoryView.js"></script>
    <script src="~/Scripts/Srore/Product/ProductController.js"></script>
    <script src="~/Scripts/Srore/Product/ProductView.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/Scripts/Srore/Main/MainController.js"></script>
    <script src="~/Scripts/Srore/Main/MainView.js"></script>
</body>
</html>
