
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<h2>Store Management</h2>

<div id="clsMainDiv">
    @Html.Action("_Product", "Product")
</div>

<div id="dvLoading" class="row" >
    <img src="~/Content/Images/Loading.gif" style="width:150px;height:100px;" />
</div>